@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;    
}



body{
    background-color: white;
    padding: 0;
    margin: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    margin-right: 8rem;
}



.bar{
    background-image: url("../images/moving1.png");
width: 100%;
height:100vh;
background-size: cover;
background-position: center;
    
}

.text{
    text-align: left;
    margin-left: 7em;
    margin-top: 2rem;

}
    
.thelinks{
  display: flex;
  justify-content: right;
}


li{
    display: inline-block;
    font-size: 1.1rem;
    color: white;
    margin-right: 2.5rem;
    padding:10px;
}
#para{
    font-size: 1.3rem;
    margin-top: 2em;
    color: white;
}

.header-text{
 font-size: 2.5rem;
 color: #FAFF00;
}
.btn-right{
color: #FAFF00;
background-color: black;
}

.btn-left{
    color: black;
    background-color:#FAFF00;
}

.moving2{
    width: 300px;  
    height: auto;  
}

#sectBoutMe{
  margin-top: 30px;
  margin-bottom: 30px;
}


#sectBoutMe > .boutme{
  display: flex;
}

#sectBoutMe > .boutme > .leftside, .rightside{
  width: 50%;
}

#sectBoutMe > .boutme > .leftside{
  display: flex;
  justify-content: left;
  align-items: left;

}

#sectBoutMe > .boutme > .rightside{
  padding-right: 30px;
  margin-right: 30rem;
  margin-top: 4rem;
  color: black;
  font-size: 0.9rem;


}

#sectBoutMe > .boutme > .rightside > button{
  align-items: center;
  padding: 5px;
  color: yellow;
  background-color: black;
  margin-top:2rem;

}

.column{
    float:left;
    width:33.33%;
    padding: 5px;
}
.row::after{
    content: "";  
    display:table;
    clear:both;
}
h3{font-size: 1.7rem;}

#movers{
    background-color: aliceblue;
    background-size: cover;
}
.top-movers{text-align: center;
            
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.footer-page{
background-color: #24262b;
}

.footer-page>h1{
  color: white;
  text-align: left;
  margin-left: 8rem;
}

span{  color: #FFAC12; }

.horizontal{
  margin-left: 2rem ;
  margin: 4rem;
  margin-top: 8rem;

}
.line{
  width: 150px;
  background-color: darkgoldenrod;
  height: 5px;
}

.mover{
  background-color: yellow;
}